*{
    font-family: serif;
    text-shadow: 2px 2px black;

}
body{
    background-image: url(./Images/Background.png);
    background-repeat: no-repeat;
    background-size:cover;
    margin: 20px 100px;
    background-color: rgb(30, 18, 110);
    color: gold;
    text-align: center;
}
h1{
    text-align: center;
    
    background-color: rgba(78, 78, 78, 0.7);
    border-radius: 20px;
    box-shadow: 8px 8px 5px black;
    padding: 10px;
    font-size: xx-large;
}
#Game-Link{
    font-size: larger;
}
#Y6B_Picture{
    aspect-ratio: 728/409;
    border-radius: 20px;
    box-shadow: 8px 8px 5px black;
    width: 50%;
    margin: 10px auto;
}
button{
    padding: 10px;
    color: white;
    font-size: large;
    background-color: navy;
    border-radius: 20px;
}
#Train_Info{
    padding: 5px;
}
#TrainTable{
    display: inline-block;
    background-color: rgb(73, 73, 73);
    margin: 10px 20%;
    padding: 10px;
    border-radius: 1em;
    font-size: large;
    box-shadow: 8px 8px 5px black;
}
td{

    padding: 5px;
    border: 1px solid gold;
}
th{

    color: white;
    border: 1px solid white;
}
li{
    text-align: left;
    font-size: larger;
}
#Favorite_Trains{
    display: inline-block;
    border-radius: 20px;
    background-color: rgba(78, 78, 78, 0.7);
    padding: 8px 10%;
    box-shadow: 8px 8px 5px black;
}
#Some_Trains{
    display: inline-block;
    border-radius: 20px;
    background-color: rgba(78, 78, 78, 0.7);
    padding: 8px 10%;
    box-shadow: 8px 8px 5px black;
}  

#Suggestion_Form{
    border-radius: 20px;
    display: inline-block;
    background-color: rgba(78, 78, 78, 0.7);
    padding: 8px 10%;
    box-shadow: 8px 8px 5px black;
}

#Page_Info{
    border-radius: 20px;
    display: inline-block;
    background-color: rgba(78, 78, 78, 0.7);
    padding: 8px 10%;
    box-shadow: 8px 8px 5px black;
    font-size: large;
}
input,textarea{
    text-shadow: none;
}

a{
    color: rgb(245, 225, 110);
    text-decoration: none;
}

a:visited{
    color: unset;
    
}

a:hover{
    text-decoration: underline;
}

#DataTable{
    margin: 30px auto;
    background-color: rgba(78, 78, 78);
    overflow: scroll;
    max-height: 50%;
}

.DataRow:first-of-type{
    color: white;
}

.DataRow:first-child{
    color: white;
}